.brand {
    font-weight: bold;
    font-size: 20px; }
   
  .site-header {
    position: relative;
    background-color: #cbe6ec;
  }
   
  .site-header__end {
    display: flex;
    align-items: center; }
   
  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (min-width: 800px) {
      .site-header__wrapper {
        padding-top: 0;
        padding-bottom: 0; } }
  @media (min-width: 800px) {
    .nav__wrapper {
      display: block; } }
   
  @media (max-width: 799px) {
    .nav__wrapper {
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: -1;
      background-color: #d9f0f7;
      visibility: hidden;
      opacity: 0;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out, opacity 0.3s ease-out; }
      .nav__wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0); } }
   
  .nav__item a {
    display: block;
    padding: 1.5rem 1rem;
    font-weight: 600;
  }
  .nav__item a:hover{
    background:#fff;
    transition: 0.5s;
   
  }
   
  .nav__toggle {
    display: none; }
    @media (max-width: 799px) {
      .nav__toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 1rem; } }
  .search {
    display: flex; }
   
  .search__toggle {
    appearance: none;
    order: 1;
    font-size: 0;
    width: 34px;
    height: 34px;
    background: center right/22px no-repeat;
    border: 0; }
    @media (min-width: 800px) {
      .search__toggle {
        border-left: 1px solid #979797;
        padding-left: 10px; } }
    @media (max-width: 799px) {
      .search__toggle {
        position: absolute;
        right: 5.5rem;
        top: 0.65rem;
        background: url("../img/header-3/search.svg") center/22px no-repeat; } }
  .search__form {
    display: none; }
    .search__form.active {
      display: block; }
    @media (max-width: 799px) {
      .search__form {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: red; }
        .search__form input {
          width: 100%; } }
    .search__form input {
      min-width: 200px;
      appearance: none;
      border: 0;
      background-color: #fff;
      border-radius: 0;
      font-size: 16px;
      padding: 0.5rem; }
      @media (max-width: 799px) {
        .search__form input {
          border-bottom: 1px solid #979797; } }

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
}
 
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
 
.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #fff;
  background-color: #2fa0f6;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}
 
.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}
 
.button span {
  display: none;
}
 
@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}
 
.button--icon {
  min-width: initial;
  padding: 0.5rem;
}

