{% extends 'base.html' %}

{% block body_block %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="box">

<form action="{% url 'new_movie' %}" method="post">
    {% csrf_token %}
    <h1>Create a Movie </h1>
    <div class="form-box">
            <input type="text" placeholder="Title" name="title"/>
            <input type="text" placeholder="Director" name="director"/>
            <textarea cols="22" rows="8" placeholder="Actors" name="actors"></textarea>
            <input type="text" placeholder="Genre" name="genre"/>
            <input type="date" placeholder="Release Date" name="release_date"/>
            <div class="sign">
                <input type="submit" value="Add Movie"/> 
            </div>
            
        </form>
    </div>
</form>

</div>

{% endblock %}