{% extends 'base.html' %}

{% block body_block %}

<div class="row">
    <div class="col-md-8 col-sm-10 col-12">
        <h1>{{ movie.title }}</h1>

        {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
        {% endif %}

        <table border="1">
            <tr><th>ID</th><td>{{ movie.id }}</td></tr>
            <tr><th>Title</th><td>{{ movie.title }}</td></tr>
            <tr><th>Director</th><td>{{ movie.director }}</td></tr>
            <tr><th>Actors</th><td>{{ movie.actors }}</td></tr>
            <tr><th>Genre</th><td>{{ movie.genre }}</td></tr>
            <tr><th>Release Date</th><td>{{ movie.release_date }}</td></tr>
            <tr><th>Current Rating</th><td>{{ movie.rating }}</td></tr>
        </table>
        {% if user.is_viewer %}
        <br>
        <h2> Do you want to rate the movie? </h2>
        <br>
        <form action="{% url 'rate' movie.id %}" method="post">
            {% csrf_token %}
                <input type="radio" name="rating" id="rating{{ 0 }}" value="{{ 0 }}">
                <label for="rating{{ 0 }}">{{ 0 }}</label>
                {% for i in "x"|rjust:"10" %}
                    <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ forloop.counter }}">
                    <label for="rating{{ forloop.counter }}">{{ forloop.counter }}</label>
                {% endfor %}
                <br><br><input type="submit" class="btn btn-success" value="Rate">
        </form>
        {% endif %}
        {% if user.is_manager %}
        <br>        
        <h2> Are you sure you want to delete this movie? </h2>
        <br>
        <p><a href="{% url 'delete' movie.id %}">yes</a></p><p><b><a href="{% url 'index' %}">No</a></b></p>
        {% endif %}
    </div>
</div>

{% endblock %}