{% extends 'base.html' %}

{% block body_block %}

<h3>Welcome to our movies app.</h3><br><h4> Panagiotis Bellias 21871 / Pavlos Andreou 218110</h4>
{% if user.is_manager %}
<a href="{% url 'create' %}" class="btn btn-viewer btn-lg" role="button">Add New Movie</a>
<a href="{% url 'create_from_api' %}" class="btn btn-viewer btn-lg" role="button">Add New Movie From Suggestions</a>
{% endif %}
{% if movies %}
   <table border="2">
      <tr>
         <th>ID</th>
         <th>Title</th>
         <th>Director</th>
         <th>Actors</th>
         <th>Genre</th>
         <th>Release Date</th>
         <th>Rating (0-10)</th>
         <th>Options</th>
      </tr>
    {% for movie in movies %}
    <tr>
          
            <th>{{ movie.id }}</th>
            <th>{{ movie.title }}</th>
            <th>{{ movie.director }}</th>
            <th>{{ movie.actors }}</th>
            <th>{{ movie.genre }}</th>
            <th>{{ movie.release_date }}</th>
            <th>{{ movie.rating }}</th>
            <th><a href = "/movies/{{movie.id}}">
            {% if user.is_viewer %}
            Rate
            {% elif user.is_manager %}
            Delete
            {% elif user.is_superuser %}
            View
            {% endif %}
            </a></th>
         </tr>
    {% endfor %}
   </table>
 {% else %}
 <p>No movies are available</p>
{% endif %}
{% endblock %}