{% extends 'base.html' %}

{% block body_block %}

{% if user.is_manager %}
    {% if suggested_movies %}
   <table border="2">
      <tr>
         <th>ID</th>
         <th>Title</th>
         <th>Slug</th>
         <th>Release Year</th>
         <th>Options</th>
      </tr>
    {% for movie in suggested_movies %}
    <tr>
            <th>{{ movie.ids.trakt }}</th>
            <th>{{ movie.title }}</th>
            <th>{{ movie.ids.slugs }}</th>
            <th>{{ movie.year }}</th>
            <th><a href = "/movies/add_auto/{id}">
            Add
            </a></th>
         </tr>
    {% endfor %}
   </table>
 {% else %}
 <p>No suggestions are available</p>
{% endif %}
{% endif %}
{% endblock %}