{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}E-Movies App{% endblock %}</title>
        <link rel="icon" href="https://png.pngtree.com/png-clipart/20190603/original/pngtree-film-png-image_634334.jpg">
        <link href="https://fonts.googleapis.com/css?family=Clicker+Script" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
        {% if user.is_authenticated and user.is_manager %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/managers.css' %}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/viewers.css' %}">
        {% endif %}
    </head>
    <body>
        <a href="https://github.com/panagiotisbellias/e-movies-app">
            <img style="position: absolute; top: 0; right: 0; border: 0;"
            src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
                alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
            <div class="row justify-content-center">
                <div class="col-md-10 col-sm-12">
                    <div class="row">
                        <div class="col-6">
                            <h1 class="logo">
                                <a href="{% url 'home' %}">
                                    E-Movies App 
                                </a>
                                <img src="https://png.pngtree.com/png-clipart/20200813/ourlarge/pngtree-filming-color-props-clapperboard-film-elements-png-image_2325278.jpg" width="100">
                            </h1>
                        </div>
                    <div class="col-6 text-right">
                        <p></p>
                        <p>The biggest movie library you will ever see!!!</p>
                        <a href="/admin" class="btn btn-light" role="button">Admin Panel</a>
                    {% if user.is_authenticated %}
                        <p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
                        <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>
                    {% endif %}
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-body">
                    {% for message in messages %}
                        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    {% endfor %}
                </div>
                {% block body_block %}
                {% endblock %}
            </div>
            <footer>
              <a href="https://www.hua.gr/index.php/en/">Harokopio University</a>
              /
              <a href="https://www.dit.hua.gr/index.php/en/">Department of Informatics and Telematics</a>
              /
              <a href="https://github.com/panagiotisbellias/e-movies-app">GitHub repository</a>
              /
              <a href="https://pngtree.com/so/film-clipart">Film clipart png from <b>pngtree.com</b></a>
              /
              <br><a href="https://github.com/sibtc/django-multiple-user-types-example">Ideas & code taken by vitorfs project</a>
              /
              <a href="{% url 'about' %}">App Documentation</a>
            </footer>
          </div>
        </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script type="text/javascript">
        $(function () {
          $('[data-toggle="tooltip"]').tooltip();
        })
      </script>
    </body>

</html>