{% extends 'base.html' %}

{% block body_block %}
	{% if message %}
		<h2 style="color: red;"><b> {{ message }} </b></h2>
	{% endif %}
	<div class="row">
    		<div class="col-md-8 col-sm-10 col-12">
      			<h2>Sign up as a {{ user_type }}</h2>
      			<form action="{% url 'manager_requesting' %}" method="post" novalidate>
        			{% csrf_token %}
                                <table border="2">
                                <tr> <th>First Name:</th><th> <input type="text" name="first_name" size="55"/></th> </tr>
                                <tr> <th>Last Name: </th><th><input type="text" name="last_name" size="55"/></th> </tr>
                                <tr> <th>Username: </th><th><input type="text" name="username" size="55"/></th> </tr>
                                <tr> <th>Email Address: </th><th><input type="text" name="email" size="55"/></th> </tr>
                                <tr> <th>Password: </th><th><input type="text" name="password" size="55"/></th> </tr>
				<tr> <th>Reason to register: </th><th><textarea cols="55" rows="10" name="reason"></textarea></th> </tr>
                                </table>
        			<button type="submit" class="btn btn-success">Ask to register</button>
      			</form>
    		</div>
  	</div>
{% endblock %}